/*
--- ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

--- ## TYPOGRAPHY SYSTEM


- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700

### Body Copy

- Font size (paragraph): 15px

--- ## COLORS


- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

--- 03 BORDER-RADIUS

--- 04 WHITESPACE


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  /* 10px / 16px = 0625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Outfit";
  line-height: 1;
  font-weight: 400;

  background-color: hsl(212, 45%, 89%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 31.8rem;
  height: 49.7rem;

  background-color: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;

  padding: 1.5rem 1.3rem;
}

.img img {
  height: 28.7rem;
  width: 29.2rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 26.2rem;
  line-height: normal;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
